<div class="tile is-parent">
</div>

<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <p class="has-text-centered"><i class="icon fa-lg"></i>{{null}}</p>
        <!-- <a class="navbar-item" href="#"><img class="" src="{{imageMenu}}" alt="Logo SALEM" width="112" height="30"></a> -->

        <a class="navbar-item icon" href="#"><i class="fas fa-hand-holding-heart fas fa-3x has-text-primary"></i></a>
        <a (click)="toggleNavbar()" role="button" #navBurger class="navbar-burger burger" aria-label="menu"
            aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>

        </a>
        <p class="has-text-centered"><i class="icon fa-lg"></i>{{null}}</p>
    </div>

    <div id="navbarBasicExample " class="navbar-menu" #navMenu>
        <div class="navbar-start">
            <a class="navbar-item" routerLink="" routerLinkActive="active"> {{acceuil}} </a>
            <a class="navbar-item" routerLink="don" routerLinkActive="active"> <strong>{{donner}}</strong></a>
            <a class="navbar-item" routerLink="mission" routerLinkActive="active">Notre mission</a>


            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">{{aPropos}}</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">{{codeEthique}}</a>
                    <!-- <a class="navbar-item" routerLink="mission" routerLinkActive="active">{{mission}}</a> -->
                    <a class="navbar-item" routerLink="contact" routerLinkActive="active">{{contact}}</a>
                    <a class="navbar-item" routerLink="equipe" routerLinkActive="active">Notre équipe</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" routerLink="don" routerLinkActive="active">{{don}}</a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a *ngIf="isSignInValue" class="button is-info">{{signIn}}</a>
                    <a (click)="createAccount()" *ngIf="isRegistrationValue" class="button is-info">{{registration}}</a>
                    <a *ngIf="isLogOutValue" class="button is-light is-info"><strong>{{logOut}}</strong></a>
                    <p class="has-text-centered"><i class="icon fa-lg"></i>{{null}}</p>
                </div>
            </div>
        </div>
    </div>
</nav>