<div class="container box has-text-left">

    <div class="field">
        <p class="title"> Modalités d'utilisation </p>
    </div>

    <div class="field">
        <p> Le site Web <strong>{{siteName}}</strong> est un service d'information et de
            communication. L'accès et l'utilisation de ce site Web sont régis par les modalités énoncées ci-dessous dans
            le
            contrat d'utilisation. Veuillez lire attentivement le Contrat d'utilisation.</p>
    </div>

    <div class="field">
        <p> EN ACCÉDANT ET EN UTILISANT CE SITE WEB, VOUS VOUS ENGAGEZ À ÊTRE LIÉ PAR TOUTES LES
            MODALITÉS ÉNONCÉES DANS LE CONTRAT D'UTILISATION.</p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> Contrat d'utilisation </h2>
    </div>

    <div class="field">
        <p> <strong> Avis de non-responsabilité </strong></p>
    </div>

    <div class="field">
        <p> Le site Web est mis à la disposition des utilisateurs sur une base « tel quel » et « selon la disponibilité
            ». Ce
            contrat d'utilisation peut être modifié à tout moment sans préavis. {{title}} ne donne aucune garantie
            et ne
            prétend aucunement que le Site Web, y compris le contenu, l'information, les produits, services ou tout
            autre matériel
            disponibles par l'intermédiaire du site, sera fourni sur une base ininterrompue, opportune, sûre et sans
            erreurs.</p>
    </div>

    <div class="field">
        <p> <strong> Limitation de la responsabilité </strong></p>
    </div>

    <div class="field">
        <p> {{title}} ne sera en aucun cas responsable de quelque dommage que ce soit, qu'il soit directement ou
            indirectement
            lié à une action ou inaction basée sur le contenu, l'information, les produits ou services ou tout autre
            matériel
            disponible sur le site Web. {{title}} ne sera en aucun cas responsable des dommages ou pertes liés au
            manque de
            précision, d'actualité ou d'exhaustivité du contenu, de l'information, des produits et services ou autre
            matériel
            obtenus par le site Web.</p>
    </div>

    <div class="field">
        <p> <strong> Dédommagement</strong></p>
    </div>

    <div class="field">
        <p> Vous vous engagez à garantir, défendre et tenir franc de tout préjudice {{title}}, ses sociétés
            affiliées, son conseil d'administration, ses cadres, ses agents, ses employés, ses bailleurs de fonds et ses
            fournisseurs
            contre tout passif, perte, demande d'indemnité, revendication et dépenses (y compris des frais raisonnables
            d'avocat)
            liés à votre utilisation du site Web ou à votre non-respect des modalités du contrat d'utilisation.</p>
    </div>

    <div class="field">
        <h2 class="has-text-info"> Propriété intellectuelle </h2>
    </div>

    <div class="field">
        <p> {{title}} détient tous les droits, y compris tous les droits d'auteur, pour tout le contenu du site
            Web. Sauf avis
            contraire, aucun droit, ni titre, ni intérêt n'est accordé dans le contenu, l'information, les produits ou
            services ou
            tout autre matériel disponible sur le site Web.</p>
    </div>

    <div class="field">
        <p> Le logo de {{title}}, est une marque utilisée sous licence par {{title}}.</p>
    </div>

    <div class="field">
        <p> L'affichage des marques de commerce ou des appellations commerciales sur ce site Web n'implique ni ne crée
            aucune
            autorisation ni aucun droit sur ces marques ou ces appellations. </p>
    </div>
    <div class="field">
        <p> Il est strictement interdit d'utiliser les marques {{title}} sans autorisation écrite
            préalable
            de {{title}}.
        </p>
    </div>
    <div class="field">
        <p> <strong> Restrictions d'utilisation </strong></p>
    </div>

    <div class="field">
        <p>{{title}} vous accorde une licence restreinte pour télécharger et afficher sur le moniteur de votre
            ordinateur ou
            sous forme de copie papier, le contenu de son site Web, et ce uniquement à des fins personnelles ou
            éducatives non
            commerciales pourvu que le contenu du site Web ne soit pas modifié et que la déclaration des droits
            d'auteur du site Web
            ainsi que cette licence restreinte soient inclus et affichés sur chaque copie imprimée du dit contenu.
            Les restrictions
            suivantes s'appliquent à l'utilisation de ce site Web :</p>
    </div>

    <div class="field">
        <p> Il est strictement interdit de : </p>
        <p> 1 - Utiliser le contenu de ce site Web pour des raisons commerciales;</p>
        <p> 2 - Inclure le contenu de ce site Web aux produits ou services que vous pourriez créer; </p>
        <p> 3 - Afficher le contenu de ce site Web sur un autre site Web;</p>
        <p> 4 - Rendre disponible le contenu de ce site Web sur un quelconque serveur de fichiers;</p>
    </div>

    <div class="field">
        <h2 class="has-text-info"> Droit d'auteur </h2>
    </div>

    <div class="field">
        <p> Toute information figurant sur le site Web est protégée par le copyright, conformément aux conventions
            internationales et les autres lois sur le droit d'auteur. Tous droits
            réservés. Toute
            reproduction, modification, publication, transmission, transfert, vente, distribution, affichage ou
            exploitation de
            l'information, sous quelque forme ou par quelque moyen que ce soit, ou tout stockage intégral ou partiel
            de
            l'information dans un quelconque système d'extraction, est strictement interdit sans l'autorisation
            expresse et par
            écrit de {{title}}</p>
    </div>

    <div class="field">
        <h2 class="has-text-info"> Information provenant de tiers </h2>
    </div>

    <div class="field">
        <p> Les tiers peuvent fournir de l'information affichée dans le site Web. L'information provenant d'un tiers
            et qui paraît
            sur le site Web n'est pas forcément patronnée, endossée, conseillée ou autorisée sous licence par
            {{title}}. Les
            tierces personnes doivent être jointes directement pour toute demande de renseignements concernant leurs
            politiques
            relatives au site Web.</p>
    </div>

    <div class="field">
        <h2 class="has-text-info"> Liens de tiers</h2>
    </div>

    <div class="field">
        <p> Il se peut que ce site Web fournisse des liens pour accéder à d'autres sites Internet. {{title}}
            n'exerce aucun
            contrôle sur aucun de ces sites. {{title}} n'est pas responsable de ces sites et n'en endosse pas
            l'information, le
            matériel, les produits et services qu'ils peuvent contenir ou auxquels ces autres sites Internet peuvent
            donner accès.</p>
    </div>

    <div class="field">
        <h2 class="has-text-info"> Résiliation</h2>
    </div>

    <div class="field">
        <p>{{title}} peut à sa discrétion, avec ou sans préavis, suspendre ou mettre fin à votre utilisation de
            son site Web
            pour une quelconque raison, y compris une infraction aux conditions du contrat d'utilisation que vous
            auriez commise.
            {{title}} peut aussi vous empêcher d'utiliser ultérieurement son site Web. {{title}} ne peut
            être tenu
            responsable pour toute suspension, résiliation ou interdiction relative à l'accès futur à son site.</p>
    </div>

    <div class="control has-text-centered">
        <button class="button is-info is-outlined" (click)="gotToHome()">Accueil</button>
    </div>
</div>