<div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent is-vertical">
                <article class="tile is-child box">
                    <p class="subtitle"><strong class="has-text-info">SALEM</strong></p>
                    <article class="message is-primary">
                        <p class="has-text-justified message-body"> <strong>«Socle pour l’Avenir et Egalité de
                                l’Education»</strong> est une
                            association à
                            un
                            caractère apolitique et est à but non lucratif.</p>
                    </article>
                </article>
                <article class="tile is-child box">
                    <p class="subtitle"><strong class="has-text-info">DENOMINATION</strong> </p>
                    <p class="has-text-justified">Conformément à la loi 90/053 du 19 Décembre 1990 portant sur la
                        liberté d’association au
                        Cameroun, il est créé en 2007 à
                        Douala, Département du Wouri et Région du Littoral</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child">
                    <p class="subtitle"><strong class="has-text-info">AMOUR - JUSTICE - PARTAGE</strong> </p>

                    <figure class="image is-4by3">
                        <img src={{listPicture[currentPositionPicture]}} alt="Image d'acceuil">

                        <span class="icon is-pulled-right has-text-primary" (click)="onClickRight()"><i
                                class="fas fa-chevron-circle-right fa-lg "></i></span>
                        <span class="icon is-pulled-left has-text-primary" (click)="onClickLeft()"><i
                                class="fas fa-chevron-circle-left fa-lg"></i></span>
                    </figure>
                    <p>
                        ####{{listTextPicture[currentPositionPicture]}}####
                    </p>

                </article>
            </div>
        </div>
        <div class="tile is-parent box">
            <article class="tile is-child">
                <p class="subtitle "><strong class="has-text-info">ADHESION</strong> </p>
                <div class="content has-text-justified">
                    <p><strong>L’adhésion</strong> se fait par toute personne sans distinction de sexe, de
                        race, de religion ou de
                        conviction politique, mais
                        jouissant de tous ses droits civiques et moraux.
                    </p>

                    <ol class="is-upper-roman">
                        <li>
                            <p> Cette personne doit adhérer aux présents textes et payer ses droits d’adhésion dont le
                                taux est
                                fixé par l’Assemblée
                                Générale.
                            </p>
                        </li>
                        <li>
                            <p>Ils constituent le fond de l’association et sont non remboursables.</p>
                        </li>
                        <li>
                            <p>Un nouvel adhérent à un certain nombre de temps fixé par l’Assemblée Générale pour se
                                mettre à
                                jour.
                            </p>
                        </li>
                    </ol>
                </div>
            </article>
        </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="content">
                <p class="subtitle"><strong class="has-text-info">OBJECTF</strong></p>
                <div class="content has-text-justified">
                    <p>L’association a pour objectifs de :</p>
                    <ol type="1">
                        <li>
                            <p>Favoriser par son action ; sous toutes ses formes le progrès de l’éducation dans le but
                                d’apporter une pierre à
                                l’édificateur de la société,</p>
                        </li>
                        <li>
                            <p>Mettre sur pied des projets de développement pour la personne en difficulté par une aide
                                appropriée sur le plan
                                matériel, moral et psychologique dans le respect de ses convictions et de sa dignité,
                            </p>
                        </li>
                        <li>
                            <p> Collaborer avec les associations visant les objectifs similaires ;</p>
                        </li>
                        <li>
                            <p> Promouvoir l’organisation des foires du livre ;</p>
                        </li>
                        <li>
                            <p>Sensibiliser les populations sur la lecture à travers les séminaires, les conférences et
                                les
                                débats éducatifs.</p>
                        </li>
                    </ol>
                </div>
            </div>
        </article>
    </div>
</div>