<div class="tile is-child notification is-warning hero">
    <figure class="image">
        <span class="icon hero-body is-pulled-right " (click)="onClickRight()"><i
                class="fas fa-arrow-circle-right fa-3x "></i></span>
        <span class="icon hero-body is-pulled-left" (click)="onClickLeft()"><i
                class="fas fa-arrow-circle-left fa-3x"></i></span>
        <img class="" src={{listImage[currentPositionImage]}} alt="Image d'acceuil">
    </figure>
</div>

<div class="containerConfiguration">
    <img src="/assets/image/image1.png" alt="Avatar" class="imageConfiguration">
    <div class="overlayConfiguration">My Name is John</div>
</div>

<app-footer></app-footer>