<footer class="footer tile is-parent notification has-background-info">
    <div class="tile is-child ">
        <article class="has-text-centered is-size-1-mobile">
            <p class="has-text-weight-bold"> {{title}} </p>
            <p class="">{{boitePostale}} {{town}} {{country}}</p>
            <p class="">Télephone : {{telephonNumber1}}</p>
        </article>
    </div>
    <div class="tile is-child">
    </div>
    <div class="tile is-child">
        <p class="has-text-centered is-size-1-mobile has-text-weight-bold">Suivez nous !</p>
        <div class="column has-text-centered">
            <a class="icon" href="#"><i class="fab fa-facebook"></i></a>
            <a class="icon" href="#"><i class="fab fa-twitter-square"></i></a>
            <a class="icon" href="#"><i class="fab fa-linkedin"></i></a>
            <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</footer>

<div class="tile is-child  has-text-centered is-size-1-mobile">
    <p>Tous droits reservés @ Salem</p>
</div>