<div class="container box has-text-left">

    <div class="field">
        <p class="title"> Politique sur la confidentialité </p>
    </div>

    <div class="field">
        <p>{{title}} s’engage à protéger les renseignements personnels de ses employés, bénévoles, membres,
            clients, donateurs
            et autres parties prenantes. {{title}} accorde une grande importance à la confiance des personnes avec
            qui il
            entretient des relations</p>
    </div>

    <div class="field">
        <p>{{title}} recueille et utilise souvent des renseignements personnels dans le cadre de divers projets et
            activités.
            Toute personne auprès de qui nous collectons ce type de renseignements peut compter sur leur protection
            efficace.</p>
    </div>
    <div class="field">
        <h2 class="has-text-primary subtitle"> Définition des renseignements personnels </h2>
    </div>

    <div class="field">
        <p>On entend par renseignements personnels tout renseignement pouvant servir à distinguer et identifier une
            personne donnée
            ou à entrer en relation avec elle. Ces renseignements peuvent englober les opinions ou les croyances de
            l’intéressé
            ainsi que des faits à son sujet ou qui lui sont associés. Exceptions : les coordonnées professionnelles et
            les
            renseignements publics tels que le nom, l'adresse et le numéro de téléphone figurant dans l'annuaire ne sont
            pas
            considérés comme étant des renseignements personnels.</p>
    </div>

    <div class="field">
        <p>Les informations du domaine public ne sont pas assujetties à la législation sur la protection de la vie
            privée et, à ce
            titre, ne relèvent pas de cette politique.</p>
    </div>

    <div class="field">
        <p>Si les clients de {{title}} utilisent leurs coordonnées personnelles en guise de coordonnées d’affaires,
            {{title}} considère que ces coordonnées personnelles sont, en fait, des coordonnées professionnelles et
            qu’elles ne
            relèvent pas, par conséquent, de la protection des renseignements personnels.</p>
    </div>

    <div class="field">
        <p>Nous considérons que les coordonnées des donateurs et des bénévoles sont toujours des renseignements
            personnels et ne
            divulguons aucune information sur les donateurs et les bénévoles sans leur consentement.</p>
    </div>

    <div class="field">
        <p>{{title}} applique systématiquement les pratiques suivantes lors du recueil, de la mise à jour et de
            l’utilisation
            des renseignements personnels</p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> Consentement</h2>
    </div>

    <div class="field">
        <p>Ces renseignements personnels sont recueillis sous réserve que les intéressés consentent à leur recueil, au
            moment où
            celui-ci est effectué, ainsi qu’à leur future utilisation. Ce consentement peut être soit explicite, soit
            implicite et
            peut être fourni par l’intéressé ou par son représentant autorisé. Le consentement explicite peut
            être donné
            verbalement, par voie électronique ou par écrit. Le consentement implicite peut être raisonnablement déduit
            de l’action
            ou de l’absence d’action de l’intéressé. Le consentement de l’intéressé est obligatoire avant la
            communication de
            ses renseignements personnels à des tiers.</p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> Témoins (Cookies)</h2>
    </div>

    <div class="field">
        <p>Le site Web de {{title}} utilise des témoins persistants afin d’identifier votre navigateur et d’activer
            les
            fonctions et suivre la performance du site Web. Plus précisément, les témoins sont utilisés :</p>
    </div>

    <div class="field">
        <p> 1 - Pour maintenir et terminer la session d’un visiteur sur le site</p>
        <p> 2 - Pour sauvegarder les préférences en matière de taille de caractères;</p>
        <p> 3 - Pour activer des outils d’analyse pour le Web</p>
    </div>

    <div class="field">
        <p>Les témoins sont utilisés de façon anonyme et sans sauvegarder des renseignements personnels. Les visiteurs
            qui
            souhaitent bloquer les témoins sont priés de consulter les fichiers d’aide de leur navigateur pour
            désactiver les
            témoins ou autoriser une activation partielle. Cependant, veuillez noter que la désactivation des témoins
            peut entraîner
            une perte de qualité de la performance du site Web.</p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> Limitation du recueil de données</h2>
    </div>

    <div class="field">
        <p>Le recueil des renseignements personnels se limite aux données utiles et nécessaires pour nos programmes et
            nos actions
            de collecte de fonds. {{title}} n’effectuera aucune recherche d’informations abusive ou intrusive sur
            les
            antécédents de dons ou la vie personnelle d’un donateur ou d’un donateur potentiel. </p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> limitation de l’utilisation, du dévoilement et de la conservation des
            données</h2>
    </div>

    <div class="field">
        <p>Les renseignements personnels ne seront ni utilisés, ni divulgués à des fins autres que celles justifiant
            leur recueil,
            sauf avec le consentement de l’intéressé ou par obligation légale. Les renseignements personnels ne seront
            conservés
            que pendant le temps strictement nécessaire.</p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> Exactitude
        </h2>
    </div>

    <div class="field">
        <p>Les renseignements personnels seront aussi complets, exacts et à jour que possible. Nous recommandons aux
            donateurs de
            vérifier, corriger et mettre à jour leurs renseignements personnels.</p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> Dispositifs de protection
        </h2>
    </div>

    <div class="field">
        <p>Les renseignements personnels recueillis par {{title}} seront traités dans le respect de la
            confidentialité. Le
            personnel de {{title}} ne sera autorisé à accéder aux renseignements personnels que sur la base de la
            stricte
            nécessité et conformément aux motifs de leur recueil.</p>
    </div>

    <div class="field">
        <p>Les mesures de protection physique et électronique indispensables seront prises pour assurer la sécurité des
            renseignements personnels. L’accès aux dossiers des donateurs et des bénévoles sera réservé aux personnes
            dont les
            responsabilités professionnelles exigent ce type de renseignements. Tous les dossiers des donateurs anonymes
            bénéficieront d’une protection particulière. La confidentialité des dossiers des donateurs et des bénévoles
            continuera à
            être assurée après la fin des relations avec ces derniers.</p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> Confidentialité
        </h2>
    </div>

    <div class="field">
        <p>Les donateurs qui demandent que leur nom ou le montant de leur don ne soit pas rendu public demeureront
            anonymes.</p>
    </div>

    <div class="field">
        <h2 class="has-text-primary subtitle"> Transparence
        </h2>
    </div>
    <div class="field">
        <p>Les donateurs auront accès à leur dossier de donateur sur demande.</p>
    </div>

    <div class="control has-text-centered">
        <button class="button is-info is-outlined" (click)="gotToHome()">Accueil</button>
    </div>
</div>