<div class="tile is-ancestor is-vertical">

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">NOTRE MISSION</strong> </p>

            <div class="tile is-child">
                <p class="content">Mettre sur pied des projets de développement pour aider les personnes en situation de
                    précaritée
                </p>
            </div>

        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">Favoriser par son action</strong> </p>

            <div class="tile is-child">
                <p class="content subtitle is-3">Sous toutes ses formes le progrès de l’éducation dans le but d’apporter
                    une
                    pierre à
                    l’édificateur de la société.</p>
            </div>
        </div>
        <div class="tile is-child box has-text-justified">
            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src={{listPicture[1]}}>
                </figure>
            </article>
        </div>
    </div>

    <div class="tile is-parent">

        <div class="tile is-child box has-text-justified">
            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src={{listPicture[2]}}>
                </figure>
            </article>
        </div>
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">projets de développement</strong> </p>

            <div class="tile is-child">
                <p class="content subtitle is-3">Pour les personne en difficultées par une aide appropriée sur le plan
                    matériel,
                    moral et psychologique dans le respect de
                    ses convictions et de sa dignité</p>
            </div>
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">Collaboration</strong> </p>

            <div class="tile is-child">
                <p class="content subtitle is-3">Avec les associations visant les objectifs similaires</p>
            </div>
        </div>
        <div class="tile is-child box has-text-justified">
            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src={{listPicture[3]}}>
                </figure>
            </article>
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box has-text-justified">
            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src={{listPicture[4]}}>
                </figure>
            </article>
        </div>
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">Sensibilisation</strong> </p>

            <div class="tile is-child">
                <p class="content subtitle is-3">Des populations sur la lecture à travers les séminaires, les
                    conférences et les
                    débats éducatifs</p>
            </div>
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">Promotion</strong> </p>

            <div class="tile is-child">
                <p class="content subtitle is-3">L’organisation des foires du livre</p>
            </div>
        </div>
        <div class="tile is-child box has-text-justified">
            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src={{listPicture[5]}}>
                </figure>
            </article>
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">FAIRE UN DON</strong> </p>

            <div class="tile is-child">
                <p class="content">Donnez pour une cause noble.</p>
            </div>

            <div class="tile is-child">
                <p>100 % de votre don est versé à la cause choisie.</p>
            </div>

            <div class="tile is-child">
                <form (ngSubmit)="goToDon()">
                    <p class="control has-text-centered">
                        <button class="button is-primary is-rounded" type="submit">
                            Soumettre
                        </button>
                    </p>
                </form>
            </div>

        </div>
    </div>
</div>