<div class="tile is-ancestor is-vertical">

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">MEMBRES DU BUREAU EXECUTIF</strong> </p>

            <p class="subtitle">Nous sommes passionnés par le secteur caritatif et le bien
                social</p>

        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">Président</strong> </p>

            <div class="tile is-child">
                <p class="content subtitle is-4">YIMDJO NGATCHUESSI Myriam</p>
            </div>
            <div class="tile is-child">
                <p class="content subtitle is-6">Adresse gamail</p>
            </div>
        </div>
        <div class="tile is-child box has-text-justified">
            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src="/assets/image/profile.png">
                </figure>
            </article>
        </div>
    </div>

    <div class="tile is-parent">
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">Secrétaire</strong> </p>

            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src="/assets/image/profile.png">
                </figure>
            </article>
            <div class="tile is-child">
                <p class="content subtitle is-4">TEM Ahmed Gilbert</p>
            </div>
            <div class="tile is-child">
                <p class="content subtitle is-6">Adresse gamail</p>
            </div>
        </div>

        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">Trésorière</strong> </p>

            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src="/assets/image/profile.png">
                </figure>
            </article>
            <div class="tile is-child">
                <p class="content subtitle is-4">MAÏBA DANWE Jeannette</p>
            </div>
            <div class="tile is-child">
                <p class="content subtitle is-6">Adresse gamail</p>
            </div>
        </div>
        <div class="tile is-child box">
            <p class="subtitle"><strong class="has-text-primary">Censeur</strong> </p>

            <article class="tile is-child">
                <figure class="image is-3by2">
                    <img src="/assets/image/profile.png">
                </figure>
            </article>
            <div class="tile is-child">
                <p class="content subtitle is-4">KENMEUGNE Yves Dorien</p>
            </div>
            <div class="tile is-child">
                <p class="content subtitle is-6">Adresse gamail</p>
            </div>
        </div>

    </div>
    <app-request-information></app-request-information>
</div>