<!-- <div class="tile is-child  field has-addons has-addons-centered">
    <p class="control">
        <span class="select">
            <select>
                <option>$</option>
                <option>£</option>
                <option>€</option>
            </select>
        </span>
    </p>
    <p class="control">
        <input class="input" type="text" placeholder="Amount of money">
    </p>
    <form (ngSubmit)="goToDonFinancier()">
        <p class="control">
            <button class="button is-primary" type="submit">
                Transfer
            </button>
        </p>
    </form>

</div> -->

<p>financier</p>