<div class="container box">
    <div class="field">
        <h4 class="has-text-primary">Mille fois merci pour votre geste </h4>
    </div>
    <div class="field">
        <h4 class="has-text-info"> A thousand thanks for your gesture</h4>
    </div>
    <div class="field">
        <h4 class="has-text-warning">Tausend Dank für Ihre Geste </h4>
    </div>
    <div class="field">
        <h4 class="has-text-grey-dark">Mil agradecimentos pelo seu gesto </h4>
    </div>
    <div class="field">
        <h4 class="has-text-danger">Mil gracias por tu gesto </h4>
    </div>
    <div class="field">
        <h4 class="has-text-success"> 一千感谢您的手势</h4>
    </div>
    <div class="field">
        <h4 class="has-text-link">Тысяча благодарностей за ваш жест </h4>
    </div>
    <div class="field">
        <h4 class="has-text-black"> Mille grazie per il tuo gesto</h4>
    </div>
    <div class="field">
        <h4 class="has-text-primary">الف شكر لفتتك </h4>
    </div>
    <div class="field">
        <h5><strong class="has-text-danger">. . .</strong> </h5>
    </div>
    <div class="control has-text-centered">
        <button class="button is-info is-outlined" (click)="gotToHome()">Accueil</button>
    </div>
</div>